.partners-wrapper {

  .partner {
    padding: 10px;
    text-align: center;

    .note {
      //display: none;
      height: 0;
      transition: all .5s ease-out;

      overflow: hidden;
    }

    &.selected {
      //background: red;
      //min-width: 100%;
      .note {
        height: 100px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  //.splitter{display: none;}


}